<div class="user-details">
  <h2>{{ site.headline }}</h2>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>
      <img
        src="assets/images/engineering.png"
        alt="Engineering Icon"
        style="height: 100px"
      />
    </h2>
    <h2>
      <span>{{ site.tech_a_headline }}</span>
    </h2>
    <p>{{site.tech_a_content}}</p>
  </div>
  <div class="tech">
    <h2>
      <img
        src="assets/images/creative.png"
        alt="Creative Icon"
        style="height: 100px"
      />
    </h2>
    <h2>
      <span>{{ site.tech_b_headline }}</span>
    </h2>
    <p>{{site.tech_b_content}}</p>
  </div>
  <div class="tech">
    <h2>
      <img
        src="assets/images/lotus.png"
        alt="Lotus Icon"
        style="height: 100px"
      />
    </h2>
    <h2>
      <span>{{ site.tech_c_headline }}</span>
    </h2>
    <p>{{site.tech_c_content}}</p>
  </div>
</div>
