<footer class="footer">
  <div class="thanks-section">
    <p>
      <a href="https://github.com/murraco" title="template" target="_blank">
        Template created by Murraco
      </a>
      <br />
      <a
        href="https://www.flaticon.com/free-icons/creativity"
        title="creativity icons"
        target="_blank"
      >
        Creativity icons created by Freepik - Flaticon
      </a>
    </p>
  </div>
  <p>&copy; {{ site.username }}</p>
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
