<footer class="footer">
  <p>
    <a href="https://github.com/murraco" title="template">
      Template created by Murraco
    </a>
  </p>
  <p>
    <a
      href="https://www.flaticon.com/free-icons/creativity"
      title="creativity icons"
    >
      Creativity icons created by Freepik - Flaticon
    </a>
  </p>
  <p>&copy; {{ site.username }}</p>
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
